// main.scss
//

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  box-sizing: inherit;
}
body {
  color: #333;
  font-size: 16px;
  line-height: 22px; // 1.4
}
a {
  color: inherit;
  text-decoration: none;
}

// Objects
//

%nav {
  @extend %clearfix;
  list-style: none;
  padding-left: 0;

  li {
    float: left;
  }
  a {
    display: block;
  }
}

// PAGE
//
.container {
  margin: 0 auto;
  max-width: 1008px;
  padding-right: 16px;
  padding-left: 16px;
}
.container--full {
  padding-right: 0;
  padding-left: 0;
}
.blq {
  height: 40px;
}

// Masthead
.masthead {}
  .masthead__main {
    background-color: #CC0101;
  }
    .masthead__brand {
      display: block;
      height: 56px;
      width: 128px;
    }

// Navigation as a whole
.primary-nav,
.secondary-nav {

  ul {
    @extend %nav;
    margin-top: 0;
    margin-bottom: 0;

    > li {

      // First list item in the nav
      &:first-child {

        a {
          padding-left: 4px; // Add 4 to 12 to make 16px margin

          &::before {
            background-color: rgba(255,255,255,0);
          }
        }
      }

      // Last list item in the nav
      &:last-child {

        a {
          padding-right: 16px;
        }
      }

      // Every anchor in the nav list
      a {
        font-size: 14px;
        padding-top: 9px;
        padding-right: 12px;

        &:hover {

          span {
            border-bottom: 4px solid #FFF;
            padding-bottom: 3px;
          }
        }

        // Vertical separating line
        &::before {
          background-color: rgba(255,255,255,0.6);
          display: inline-block;
          content: "";
          height: 12px;
          margin-right: 12px;
          width: 1px;
        }

        span {
          display: inline-block;
          padding-bottom: 7px;
        }
      }
    } // li

    // The active nav list item
    > li.active {

      a {
        background-color: #FFF;

        &:hover {

          span {
            border-bottom: 4px solid inherit;
          }
        }

        &::before {
          background-color: rgba(255,255,255,0);
        }

        span {
          border-bottom: 4px solid #A80202;
          padding-bottom: 3px;
        }
      }

      // The list item that directly follows an active one
      + li {

        a {

          &::before {
            background-color: rgba(255,255,255,0);
          }
        }
      }
    } // .active

  }
}

// Primary only
.primary-nav {
  background-color: #A80202;
  transition: background-color 250ms ease;

  ul {

    > li {

      a {
        color: #FFF;
      }

      &.active {

        a {
          color: inherit;
        }
      }
    }
  }
}
.primary-nav--blend {
  background-color: #111;
  transition: background-color 250ms ease;

  // Alter the 'All News' CTA when primary nav is in blend-mode
  .all-news {

    a {

      &::before {
        background-color: rgba(255,255,255,0);
      }
    }
  }
  .all-news__list {
    display: none;
  }
  .all-news__close {
    display: inline-block;
  }
}
  .primary-nav__inner {}

// Secondary only
.secondary-nav {
  border-bottom: 1px solid #DDD;

  ul {

    > li {

      a {

        &::before {
          background-color: rgba(0,0,0,0.25);
        }
      }
    }
  }
}
  .secondary-nav__inner {}

// All News CTA
.all-news {

  a {
    padding-bottom: 7px;

    &:hover {
      background-color: #111;

      &::before {
        background-color: rgba(255,255,255,0);
      }
    }
  }
}
  .all-news__list,
  .all-news__close {
    margin-right: 3px;
    margin-bottom: -1px;
  }
  .all-news__list {
    display: inline-block;
  }
  .all-news__close {
    display: none;
  }

// Mega nav
.mega-nav {
  background-color: #111;
  color: #FFF;
  font-size: 14px;
  height: 0;
  overflow: hidden;
  transition: height 250ms ease;
}
.mega-nav--open {
  height: 310px;
  transition: height 250ms ease;
}
  .mega-nav__upper {
    @extend %clearfix;
    padding-bottom: 20px;
  }

    .upper__primary,
    .upper__aside,
    .lower__in-depth,
    .lower__comment-analysis {
      @extend %nav;
      float: left;
      margin-top: 0;
      margin-bottom: 0;

      li {}
      a {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    .upper__primary {
      width: 66.66%;

      li {
        width: 33.33%;
      }
    }
    .upper__aside {
      border-left: 1px solid #333;
      padding-left: 24px;
      width: 33.33%;

      li {
        width: 100%;
      }
    }

  .mega-nav__lower {
    @extend %clearfix;
    background-color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
  }
    .lower__in-depth {}
    .lower__comment-analysis {}

    .lower__in-depth,
    .lower__comment-analysis {
      width: 50%;

      li {
        width: 50%;
      }
      .lower__heading-item {
        color: #999;
        text-transform: uppercase;
        width: 100%;
      }
    }

// Transition
.primary-nav {
  a { opacity: 1; }
}
.upper__primary {
  a { opacity: 0; }
}
.primary-nav,
.upper__primary {

  a {
    transition: opacity 23ms linear;
  }
}

// Utility
//

%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
